.card {
    border: 1px solid var(--border);
    background: var(--card);
    padding: 24px 0px;
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.cardHeader {
    border-bottom: 1px solid var(--border);
    background-color: var(--card);
    padding: 0px 24px 24px;
    margin-bottom: 1.5rem;
}

.headerTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}

.export {
    display: none;
}

.dropdown {
    position: relative;

    button {
        &:hover {
            background-color: var(--foreground);
            color: var(--secondary);
        }
    }
}

.submenu {
    position: absolute;
    top: 40;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: var(--card);
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 4px;
    min-width: 168px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-5px);
    transition: all 0.2s ease;
}

.submenu button {
    width: 100%;
    justify-content: flex-start;
}

.open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.label {
    font-size: 0.875rem;
    color: var(--muted-foreground);
}

.price {
    font-size: 1.875rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    overflow-wrap: break-word;
    word-break: break-word;
    color: var(--foreground);
}

.cardContent {
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.vehicleName {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--foreground);
}

.badges {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.badge {
    display: flex;
    align-items: center;
    gap: 0.375rem;
    padding: 2px 8px;
    background: var(--secondary);
    border-radius: 0.5rem;
}

.referenceBox {
    border-radius: 0.5rem;
    background: var(--secondary);
    padding: 1rem;
}

.referenceContent {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
}

.referenceTitle {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--foreground);
}

.referenceText {
    font-size: 0.875rem;
    color: var(--muted-foreground);
}

.actions {
    display: flex;
    gap: 0.75rem;

    button {
        font-size: 14px;
        padding: 8px 8px;
        color: var(--secondary);
        background-color: var(--foreground);
    }
}

.flex1 {
    flex: 1;
}

.fullButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 14px;
    padding: 8px 10px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid var(--border);
    box-shadow: rgba(72, 35, 35, 0.16) 0px 1px 4px;
    cursor: pointer;
}

.primaryButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    gap: 0.5rem;
    padding: 8px 8px;
    border-radius: 4px;
    color: #000;
    background: transparent;
    cursor: pointer;
}

.iconSm {
    width: 1rem;
    height: 1rem;
}

.iconXs {
    width: 0.875rem;
    height: 0.875rem;
}

.iconSmMuted {
    width: 1rem;
    height: 1rem;
    margin-top: 2px;
    color: var(--muted-foreground);
}

.exportImage {
    position: absolute;
    left: -9999px;
    width: 800px;
    max-width: 800px;
}


@media (min-width: 640px) {
    .export {
        display: block;
    }

    .price {
        font-size: 2rem;
    }

    .cardContent {
        grid-template-columns: repeat(2, 1fr);
    }
}