:root {
  --background: #fafafa;
  --foreground: #000000;
  --logo-filter: none;
  --header-bg: #ffffff;
  --card: #ffffff;
  --secondary: #eaeaea;
  --muted-foreground: #666666;
  --border: #dedede;
  --border-slot: rgba(0, 0, 0, 0.5);
  --slot-icon: #eeeeee;
  --steps: #fff;
  --hero-text: #ffffffcc;
  --text-color: #222222;
  --howItWorks: rgba(0, 0, 0, 0.03);
  --result: rgba(0, 0, 0, 0.03);
  --hero-bg: #ffffff;
  --type-btn: rgba(0, 0, 0, 0.03);
  --footer: rgba(0, 0, 0, 0.03);
  --overlay: #ebebeb;
  --theme-icon: #000;
  --status: #66666656;
  --skeleton: linear-gradient(90deg, #dededee0 25%, #d4d4d4 50%, #dededee0 75%);
}

[data-theme='dark'] {
  --background: oklch(0% 0 0);
  --foreground: #eff2f5;
  --logo-filter: invert(1);
  --header-bg: rgb(0, 0, 0);
  --card: hsla(0, 0%, 4%, 1);
  --secondary: #1f1f1f;
  --muted-foreground: #8e8e8e;
  --border: #2f2f2f;
  --border-slot: #404040;
  --slot-icon: rgba(32, 31, 31, 0.721);
  --steps: #000;
  --hero-text: #8e8e8e;
  --text-color: #e2e2e2;
  --howItWorks: rgba(20, 20, 20, 0.721);
  --result: rgba(20, 20, 20, 0.721);
  --hero-bg: rgb(24, 24, 24);
  --type-btn: rgba(0, 0, 0, 0.03);
  --footer: rgba(20, 20, 20, 0.762);
  --overlay: #090909f3;
  --theme-icon: #fff;
  --status: #8e8e8e39;
  --skeleton: linear-gradient(90deg, #3e3e3eb3 25%, #74727272 50%, #3e3e3eb3 75%);
}

body {
  min-height: 100vh;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  font-family: var(--font-geist-sans);
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: var(--font-geist-sans), sans-serif;
}