.header {
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    box-shadow: rgba(72, 35, 35, 0.16) 0px 1px 4px;
    background-color: var(--header-bg);
    transition: transform 0.3s cubic-bezier(0.16, 1, 0.3, 1);
    transform: translateY(0);

    &.hidden {
        transform: translateY(-100%);
    }
}

.content {
    position: relative;
    z-index: 2;
    background-color: var(--header-bg);
    max-width: 1280px;
    height: 4rem;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}

.logoIcon {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoSvg {
    width: 2rem;
    height: 2rem;
    filter: var(--logo-filter);
}

.logoText {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--foreground);
}

.navDesktop {
    display: none;
    gap: 0.5rem;
    font-weight: 500;
}

.userNav {
    display: none;
    align-items: center;
    gap: 30px;
}

.navButton {
    display: inline-flex;
    align-items: center;
    padding: 8px;
    gap: 0.5rem;
    border-radius: 5px;
    color: var(--foreground);
}

.active {
    background: var(--secondary);
    color: var(--foreground);
    transition: 0.2s ease;
}

.navHover {
    &:hover {
        color: var(--secondary);
        background-color: var(--foreground);
        transition: 0.2s ease;
    }
}

.mobileButton {
    background: transparent;
    border: none;
}

.icon {
    width: 1rem;
    height: 1rem;
}

.iconLarge {
    color: var(--foreground);
    width: 1.25rem;
    height: 1.25rem;
}

.mobileMenu {
    position: absolute;
    top: 4rem;
    width: 100%;
    background-color: var(--header-bg);
    z-index: 1;
    border-bottom: 1px solid var(--border);
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease-in-out,
        opacity 0.3s ease-in-out;

    &.isOpen {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }
}

.navMobile {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-weight: 500;
    padding: 0.75rem 1rem;
}

.fullWidth {
    width: 100%;
    justify-content: flex-start;
}

@media (min-width: 768px) {
    .container {
        padding: 1.5rem;
    }

    .navDesktop {
        display: flex;
        align-items: center;
    }

    .userNav {
        display: flex;
    }

    .mobileButton {
        display: none;
    }

    .mobileMenu {
        display: none;
    }
}