.themeContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 0.4rem;
    height: 39px;

    .themeButton {
        background: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 0.4rem;
        transition: background 0.3s;
        width: 34px;
        height: 34px;

        svg {
            fill: var(--theme-icon);
            width: 22px;
            height: 22px;
            flex-shrink: 0;
        }

        .moon {
            display: block;
            animation: keyframes-fill 0.5s ease-out;
            color: var(--theme-icon);
        }

        .sun {
            display: none;
            animation: keyframes-fill 0.5s ease-out;
            color: var(--theme-icon);
        }
    }

    .mode {
        display: none;

        @media (max-width: 768px) {
            display: flex;
        }
    }
}

:global([data-theme='dark']) {
    .themeButton {
        .moon {
            display: none;
        }

        .sun {
            display: block;
        }
    }
}

@keyframes keyframes-fill {
    0% {
        transform: rotate(-360deg) scale(0);
        opacity: 0;
    }

    75% {
        transform: rotate(25deg);
    }
}